@import '@/styles/index';

.AuthContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.AuthContainer__Inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    width: 360px;
    max-width: 500px;
    background-color: $white;
    border-radius: 22px;
    padding: 30px 20px;
    box-shadow: 0px 5px 3px $shadow-light;
}

.AuthContainer__Rediracte {
    align-self: center;
    font-size: var(--font-200);
}

.AuthContainer__RediracteLink {
    color: $orange-0;

    &:hover {
        opacity: 0.6;
    }
}