@import "@/styles/index";

.SectionHeader {
    padding: 10px 20px;
    border-radius: 12px;
    width: fit-content;
    background-color: $gray-5;
    color: $font-black;
    text-transform: capitalize;
    box-shadow: 0px 5px 10px $shadow-light;
}