@import "@/styles/index";

.PlanCard {
    @include flex-column(false);
    justify-content: space-between;
    gap: $gap-l;
    padding: $padding-m;
    border-radius: $radius-l;
    background-color: $white;
    min-width: 200px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background-color: $gray-4;
    }

    &--Current {
        border: 1px solid $orange-0;
        box-shadow: 0px 5px 3px $shadow-light;
    }
}

.PlanCard__Info {
    @include flex-row(false);
    justify-content: space-between;
    gap: $gap-s;
    width: 100%;
}

.PlanCard__Title {
    text-transform: capitalize;
    font-size: var(--font-400);
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 120px;
}

.PlanCard__BtnContainer {
    @include flex-row(true);
    gap: $gap-l;
}

.PlanCard__Progress {
    width: 100%;
}

.PlanCard__ProgressText {
    font-size: var(--font-300);
    margin-bottom: 5px;
    color: $font-dark-gray;
}

.PlanCard__Data {
    font-size: var(--font-200);
    align-self: flex-end;
    color: $font-dark-gray;
    float: right;
    margin-top: 0.4rem;
}