@import "@/styles/index";

.Tooltip {
    padding: 5px 10px;
    border-radius: 8px;
    background-color: $black-1;
    color: $font-white;
    font-size: 10px;

    &--Disabled {
        display: none;
    }
}

.Tooltip__Wrapper {
    width: fit-content;
}

.Tooltip__Arrow {
    fill: $black-1;
}