@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.empty {
    @include flex-column(false);
    align-items: center;
    gap: $gap-l;

    .box {
        border-radius: $radius-l;
        background-color: $white;
        padding: $padding-l;
        width: 100%;
    }

    .imgContainer {
        position: relative;
        width: 100%;
        height: 50vh;
        
            img {
                mix-blend-mode: darken;
                object-fit: contain;
                opacity: 0.5;
            }
    }
}