@import "@/styles/index";

.Footer {
    display: flex;
    gap: 5px;
    width: 100%;
    height: 50px;
    font-size: var(--font-200);
    padding-top: $padding-s;
    padding-bottom: $padding-s;
}

.Footer__Text {
    &--Orange {
        color: $orange-0;
    }
}