@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.wrapper {

    .title {
        @include flex-row(false);
        align-items: center;
        gap: $gap-s;

        .text {
            font-size: var(--font-300);
            font-weight: 400;
        }

        .circle {
            @include flex-row(true);
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: $red;
            font-size: var(--font-200);
            color: $font-white;
            font-weight: 800;

            &.inProcess {
                background-color: $orange-2;
            }

            &.done {
                background-color: $green;
            }
        }
    }

    .tasks {
        @include flex-column(false);
        padding: $padding-s;
        border: 1px dashed $gray-2;
        border-radius: $radius-l;
        gap: $gap-s;
        min-height: 200px;
        margin-top: 0.5rem;
    }
}