@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.wrapper {
    img {
        position: unset !important;
        filter: grayscale(0.1) hue-rotate(355deg);
        cursor: pointer;

        &:hover {
            opacity: 0.5;
        }
    }

}