@import "@/styles/index";

.TaskInfo {
    @include flex-column(false);
    gap: $gap-s;
    color: $font-white;
    margin-top: 0.5rem;
}

.TaskInfo__Title {
    font-size: var(--font-400);
    text-transform: capitalize;
    word-break: break-word;
}

.TaskInfo__Brief {
    color: $font-black;
    font-size: var(--font-300);
    word-break: break-word;

    &::first-letter {
        text-transform: capitalize
    }
}

.TaskInfo__Subtasks {
    @include flex-column(false);
    gap: $gap-s;
    padding-left: $padding-m;
}