@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.info {
    @include flex-column(false);
    gap: $gap-s;
    color: $font-white;
    margin-top: 0.5rem;

    .title {
        font-size: var(--font-400);
        text-transform: capitalize;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .brief {
        color: $font-black;
        font-size: var(--font-300);
        overflow: hidden;
        text-overflow: ellipsis;

        &::first-letter {
            text-transform: capitalize
        }
    }

    .subtask {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        gap: $gap-s;
        padding-left: $padding-m;

        input {
            appearance: none;
            position: relative;
            width: 1rem;
            height: 1rem;
            border: 1px solid $white;
            border-radius: 3px;
            cursor: pointer;

            &:checked {
                background-color: $white;
            }

            &:checked::after {
                content: "\2714";
                position: absolute;
                left: 60%;
                top: 30%;
                transform: translate(-50%, -50%);
                color: $green;
                font-size: var(--font-600);
            }

            &:checked + label {
                text-decoration: line-through;
            }

            &:disabled + label,
            &:disabled {
                opacity: 0.5;
                cursor: default;
            }
        }

        label {
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: var(--font-300);
            cursor: pointer;
        }

        label::first-letter {
            text-transform: capitalize;
        }
    }

    .subtaskContainer {
        @include flex-column(false);
        gap: $gap-s;
    }
}