@import "@/styles/index";

.Statistics {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Statistics__Wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 12px;

    @include mobile {
        flex-direction: column;
        align-items: center;
    }
}
