

@mixin flex-row($center) {
    display: flex;
    flex-flow: row nowrap;
    @if $center {
        align-items: center;
        justify-content: center;
    }
}

@mixin flex-column($center) {
    display: flex;
    flex-flow: column nowrap;
    @if $center {
        align-items: center;
        justify-content: center;
    }
}
