

// font colors
$font-gray: #d4d7e6;
$font-dark-gray: #919191;
$font-black: #3F4255;
$font-white: #fff;

// elements colors
$orange-0: #f67f5d;
$orange-1: #ff9a7e;
$orange-2: #ff9453;
$cyan: #32ADE6;
$blue-0: #2e4a67;
$blue-1: #6d91b6;
$blue-2: #aec7e0;
$gray-0: #8E8E93;
$gray-1: #AEAEB2;
$gray-2: #C7C7CC;
$gray-3: #D1D1D6;
$gray-4: #E5E5EA;
$gray-5: #f4f4f4;
$white: #fff;
$green: #3ed364;
$mint: #00C7BE;
$teal: #30B0C7;
$red: #ff746d;
$yellow: #FFCC00;
$black-0: #3F4255;
$black-1: #444444;
$black-2: #a0a0a0;

// background colors
// $bg-lightBlue:#eff1f3;
$bg-lightPurple:#ecbaf28f;
$bg-lightBlue:#3ca0de1f;
$bg-lightGray:#f4f3f4;

// shadow colors
$shadow-dark: #00000073;
$shadow-light: #a496a626;

// padding
$padding-s: 0.5rem;
$padding-m: 0.75rem;
$padding-l: 1rem;
$padding-xl: 1.5rem;

// border radius
$radius-s: 0.5rem;
$radius-m: 0.75rem;
$radius-l: 1rem;

// gap
$gap-xs: 0.2rem;
$gap-s: 0.5rem;
$gap-l: 1rem;

