
@use 'mixins' as *;
@use "variables" as *;


.hero {
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 110px);
    gap: 1rem;


    @media (min-width: 992px) {
        grid-template-rows: unset;
        grid-template-columns: 1fr 1fr;
    }

    .text {
        @include flex-column(false);
        align-items: center;
        gap: $gap-l;

        > h1 {
            text-transform: capitalize;
            text-align: center;

            .brand {
                color: $orange-0;
            }
        }
    
        .paragraph {
            max-width: 500px;
            text-align: justify;
        }

        > a {
            font-size: var(--font-600);
        }
    }

    .imgContainer {
        width: 100%;
        height: 100%;
        position: relative;

        img {
            object-fit: contain;
        }
    }
}