
@use "mixins" as *;
@use "variables" as *;

.navbar {
    padding: $padding-m 0;
    height: 60px;

    .wrapper {
        @include flex-row(false);
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }
}