
@use 'mixins' as *;
@use 'variables' as *;

.wrapper {
    @include flex-column(false);
    gap: $gap-l;

    .form {
        @include flex-column(false);
        gap: $gap-s;

        label {
            font-size: var(--font-400);
            &::first-letter {
                text-transform: capitalize;
            }
        }

        input {
            padding: $padding-s;
            height: 2rem;
            border-radius: $radius-s;
            background-color: $gray-4;
            color: $font-dark-gray;
            border: 1px solid transparent;
    
            &:focus {
                background-color: $white;
                border-color: $orange-0;
                color: $font-black;
            }
        }
    
        input[type="date"] {
            color: $font-black;
            width: 100%;
        }
    }
}